<h1>Nueva fonda</h1>

<%= form_with(model: @fonda, local: true) do |f|%>
    <div>
        <%= f.label :name, 'Nombre de la fonda'%>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :address, 'direccion'%>
        <%= f.text_field :address %>
    </div>
    <div>
        <%= f.label :food, 'Plato fuerte'%>
        <%= f.text_field :food %>
    </div>
    <div>
        <%= f.submit 'Guardar'%>
    </div>
<form action="/fondas" method="post"></form>>